html[data-theme='dark'] .navbar .navbar__logo { content: url(/img/VIDchain_H_DARK.svg) }

:root {
    --ifm-color-primary: #00BF71;
    --ifm-color-primary-dark: #151A35(33, 175, 144);
    --ifm-color-primary-darker: rgb(31, 165, 136);
    --ifm-color-primary-darkest: rgb(26, 136, 112);
    --ifm-color-primary-light: rgb(70, 203, 174);
    --ifm-color-primary-lighter: rgb(102, 212, 189);
    --ifm-color-primary-lightest: rgb(146, 224, 208);
    --openapi-code-dim-light: #aaaaa9;
    --openapi-monaco-background-color-dark: #aaaaa9;
    --ifm-code-font-size: 95%;
}

.token.cdata {
    color: #aaaaa9;
}